
.pdf a:hover img, .pdf a:focus img{
	opacity:1;
}

#corps .cadre{
	position:absolute;
	top:210px;
	margin-right:25px;
	margin-left:622px;
	height:213px;
	width:160px;
	border:thin white solid;
}

a{

}
td, tr, th{
	text-align:center;
}

#commentaires{
	width:400px;
	margin-left:10px;
}

#contact{
	color:white;
	font-family:"Minion Pro";
	font-weight:lighter;
	text-align:center;
	text-shadow:#fff 0px 0px 5px;
	cursor:pointer;
	font-weight:bolder;
}

#posted{
background-color:#666666;
width:300px;
border-radius: 8px 8px 8px 8px;
color:white;
margin-left:10px;
}

#contenu_comm{
background-color:#666666;
width:300px;
border-radius: 8px 8px 8px 8px;
}

#menu{
	margin-bottom:5px;
}

#allocine_blog
{
	margin:auto;
}

#Formulaire{
	display:none;
	color:white;
	font-family:"Minion Pro";
	font-weight:lighter;
	text-shadow:#fff 0px 0px 5px;
}

#corps .films .label{
	display: block;width: 150px;float: left;
}

h3{
	text-align:center;
}


#pdf{
	position:absolute;
	top:165px;
	margin-right:40px;
	margin-top:19px;
	margin-left:658px;
	color:white;
	font-family:"Minion Pro";
	font-weight:bold;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transition: color 0s ease-in-out;
}

.liens{
	color:white;
	font-family:"Minion Pro";
	font-weight:lighter;
	text-align:center;
	text-shadow:#fff 0px 0px 5px;
	cursor:pointer;
	font-weight:bolder;font-style:italic;
}

body
{
	background-color:#212121;
	background-repeat:no-repeat; 
	width: 1024px;
   	margin: auto; /* Pour centrer la page */
   	margin-top: 80px; /* Pour éviter de coller avec le haut de la fenêtre du navigateur. */
  	margin-bottom: 150px;    /* '' avec le bas de la fenetre du navigateur */
}

#titre
{
	margin-left:15px;
	margin-bottom:35px;
	text-align:center;
	font-family:"Century Gothic";
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transition: color 0s ease-in-out;

}

#corps .texte{
	color:white;
	text-align:center;
}

h3{
	color:white;

	text-shadow:#fff 0px 0px 5px;

}

.films{
	color:white;
	width:600px;
	text-indent:25px;
	margin-left:10px;
	position:relative;
}

#corps
{
	width:800px;
	height:75%;
	background-color:#171717;
	padding-left:15px;
	padding-bottom:15px;
	/*border:thin solid white;
	border-style:groove;*/
	margin:auto;
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 0 20px 0 20px;*/
}

#c
{	
	font-size:xx-large;
	font-style:normal;	
	color:white;
	margin:auto;
}

.v
{
	font-size:xx-large;
	font-weight:bold;
	text-decoration:none;
	color:white;
	text-shadow:#fff 0px 0px 5px;
	margin:auto;
}

.name{
	color:white;
	font-family:"Minion Pro";
	font-weight:bolder;
	text-shadow:#fff 0px 0px 5px;
}

a
{
	text-decoration:none;
}

#plus
{
	color:white;
	font-family:"Minion Pro";
	font-weight:bolder;
	text-shadow:#fff 0px 0px 10px;
	cursor:pointer;
}

.logo
{
	border-radius: 10px 10px 10px 10px;
}

.value
{
	color:white;
	font-family:"Minion Pro";
	font-weight:lighter;	
}